html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin: auto;
}
/* hero */
.hero {
  text-align: center;
}
/* nav */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.link {
  margin-left: 10px;
  cursor: pointer;
}
.post-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid silver;
  margin-bottom: 50px;
}
